# HTTP
PORT=3007

# Mongo
MONGO_URI=mongodb://mongo:27017/notification

# RabbitMQ
RABBITMQ_URI=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=notifications
RABBITMQ_QUEUE_EMAIL=notifications.send.email
RABBITMQ_ROUTING_KEY_EMAIL=send.email
RABBITMQ_DLQ=notifications.dlq

# Email (SMTP)
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
MAIL_FROM=no-reply@fst-cfc.local
